.container{
    margin-top:1rem;
}
.container{
    margin:1rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
th{
    background-color:lightblue;
}
.ris{
    background-color:lightgreen;
}
.esp{
    background-color:orange;
}